---
import { AnimatedCorners } from "./animtedCorners";
import { Hello } from "./hello";
import { HERO } from "../../consts";
import { AnimTextSlideIn } from "@common/animatedText";
import { HeroLinks } from "./links";
import { Anchor } from "@common/anchor";
---

<section
  class="relative flex justify-center items-center bg-shark-700"
  style="width: 100vw;height: 100vh;width: 100svw;height: 100svh;"
>
  <AnimatedCorners client:only />
  <Hello />

  <HeroLinks client:only />

  <h1 class="grid fluid-text-4xl-6xl items-start place-items-center text-white">
    <AnimTextSlideIn
      from="bottom"
      delay={HERO.CONTENT_DELAY}
      duration={HERO.CONTENT_IN}
    >
      Hi!
    </AnimTextSlideIn>
    <AnimTextSlideIn
      from="bottom"
      duration={HERO.CONTENT_IN}
      delay={HERO.CONTENT_DELAY + HERO.CONTENT_STAGGER}
    >
      My name is <span class="text-accent">AAA</span>,
    </AnimTextSlideIn>
    <AnimTextSlideIn
      class="text-center fluid-text-xl-3xl mt-4"
      duration={HERO.CONTENT_IN}
      delay={HERO.CONTENT_DELAY + HERO.CONTENT_STAGGER * 2}
      from="bottom"
    >
      I'm a full-stack developer from Poland.
    </AnimTextSlideIn>
    <AnimTextSlideIn
      class="text-center fluid-text-xl-3xl mt-4" 
      duration={HERO.CONTENT_IN}
      delay={HERO.CONTENT_DELAY + HERO.CONTENT_STAGGER * 2}
      from="bottom"
    >
      Currently working at <Anchor href='https://www.storydoc.com/' class="text-[#883cc7]">Storydoc</span>
    </AnimTextSlideIn>
  </h1>
</section>
