---
import CommentParagraph from "$common/comment-paragraph.svelte";
import ProjectActions from "$common/project-actions.astro";
import ProjectImg from "$common/project-img.astro";
import type { IProject } from "@repo/content/projects";

interface Props {
  idx: number;
  project: IProject;
}

const { idx, project } = Astro.props;
const images = project.images ?? [];

const mainHref = project.appHref ?? project.repoHref ?? "#";

const makeDelay = (num = 0) => {
  return `calc(var(--delay-projects-preview) + ${num + idx * 100}ms)`;
};
const makeDelayStyle = (num = 0) => {
  return `--delay: ${makeDelay(num)}`;
};
---

<li>
  <p
    class="animate-top-slide-in delay-proj-prev mb-1 w-full text-center text-lg font-medium"
    data-text={project.title}
    style={makeDelayStyle(idx * 100)}
  >
    {project.title}
  </p>
  {
    images.length > 0 && (
      <ProjectImg
        class="animate-center-scale-in"
        src={images[0].src}
        href={mainHref}
        blurhash={images[0].blurhash}
        delay={makeDelay(150)}
      />
    )
  }
  {
    project.contentBlocks.map((block, i) => (
      <p
        class="text-primary-300 animate-top-slide-in text-justify text-sm mt-2 mx-auto w-95%"
        style={makeDelayStyle(250 + i * 50)}
      >
        {block}
      </p>
    ))
  }
  <ProjectActions
    class="mt-4"
    delay={makeDelay(350)}
    appHref={project.appHref}
    repoHref={project.repoHref}
  />
</li>
