---
import Link from "$common/link.svelte";
import { type IExperience } from "@repo/content";
import ExperienceMoreBtn from "./experience-more-btn.svelte";
import ExperienceDates from "./experience-dates.svelte";

interface Props {
  idx: number;
  experience: IExperience;
}

const { idx, experience: data } = Astro.props;
---

<li class="grid items-center gap-4 md:grid-cols-[1fr_auto]">
  <div
    class="animate-left-scale-in flex w-full flex-col"
    style={`--delay: calc(var(--delay-experience) + 100ms + ${idx * 100}ms)`}
  >
    <ExperienceDates dates={data.dates} class="text-xs md:text-sm" />
    <div class="max-2xs:flex-col mt-1 flex w-full font-semibold">
      <span class="max-xs:order-last">
        {data.position}
      </span>
      <div class="max-2xs:my-1 2xs:ml-1">
        <span class="ml-1 max-xs:hidden">//</span>
        <Link href={data.website} content={data.at} />
      </div>
    </div>
  </div>
  <ExperienceMoreBtn experience={data} client:visible />
</li>
