---
import { type IExperience } from "@repo/content";
import ExperienceMoreBtn from "./experience-more-btn.svelte";
import ExperienceDates from "./experience-dates.svelte";
import MdLink from "$common/md-link.svelte";

interface Props {
  idx: number;
  experience: IExperience;
}

const { idx, experience: data } = Astro.props;
---

<li class="grid items-center gap-4 md:grid-cols-[1fr_auto]">
  <div
    class="animate-top-slide-in flex w-full flex-col"
    style={`--delay: calc(var(--delay-experience) + 100ms + ${idx * 100}ms)`}
  >
    <ExperienceDates dates={data.dates} class="text-xs md:text-sm" />
    <div class="max-2xs:flex-col mt-1 flex w-full font-semibold">
      <span class="max-xs:order-last">
        {data.position}
      </span>
      <span class="mx-1">//</span>
      <MdLink href={data.website} content={data.at} short />
    </div>
  </div>
  <ExperienceMoreBtn {idx} experience={data} client:visible />
</li>
